<!doctype html>
<html lang="es">
	<head>
		<meta charset="UTF-8">
		<title>edgon's blog</title>
	</head>
	<body>
		<div>
			<h1><a href="#">Django girls Blog</a></h1>
		</div>

		<div>
			<p>Publicado 25.02.2016</p>
			<h2><a href="">Mi primer post</a></h2>
			</p>Aenean eu leo quam. Pellentesque ornare sem lacinia quam venenatis vestibulum. Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus.</p>
		</div>

		<div>
			<p>Publicado 24.02.2016</p>
			<h2><a href="#">Mi segundo post</a></h2>
			<p>Aenean eu leo quam. Pellentesque ornare sem lacinia quam venenatis vestibulum. Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus.</p>
		</div>
		

	</body>
</html>